<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">email</Data></Cell>
        <Cell><Data ss:Type="String">name</Data></Cell>
        <Cell><Data ss:Type="String">location</Data></Cell>
        <!-- <Cell><Data ss:Type="String">token</Data></Cell> -->
        <Cell><Data ss:Type="String">created_at</Data></Cell>
      </Row>
    <% @submissions.each do |submission| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= submission.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= submission.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= submission.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= submission.location %></Data></Cell>
        <!-- <Cell><Data ss:Type="String"><%#= submission.token %></Data></Cell> -->
        <Cell><Data ss:Type="String"><%= submission.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

